<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>534175091732-kop82efuojnbtor7tlf8vqsi494guq8l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.534175091732-kop82efuojnbtor7tlf8vqsi494guq8l</string>
	<key>API_KEY</key>
	<string>AIzaSyBW-kICspV2DEf1E6DueaPg0kPgG52E6kI</string>
	<key>GCM_SENDER_ID</key>
	<string>534175091732</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shopping.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutterlogin-ebbd5</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterlogin-ebbd5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:534175091732:ios:2ce7a5733fc91c2940ab01</string>
</dict>
</plist>